@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #13101d;
  background: linear-gradient(to right, #0c0a10, #181423);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #f1f1f1;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #2b2540;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #1f1d27;
  box-shadow: 0px 0px 20px -5px #1f1d28;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 5px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #2b2540;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
  text-shadow: 0px 0px 20px;
}

.money.minus {
  color: #c0392b;
  text-shadow: 0px 0px 20px;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #33313a;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: #1f1d28;
  color: #dedede;
}

.btn {
  cursor: pointer;
  background-color: #2f294c;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #1f1d28;
  box-shadow: var(--box-shadow);
  color: #c3c3c3;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.list .no-transactions {
  text-align: center;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px 0px 0px 5px;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.add-new-transaction__header {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2b2540;
  padding-bottom: 10px;
}

.add-new-transaction__header .btn {
  margin: 0;
  border-radius: 100%;
}

.add-new-transaction__header .btn-close {
  background-color: #d04646;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}
